


/* Styles uniquement applicables à la page accueil.html */


header {
    position: fixed;
    top: 0;
    left: 0;
    /* width: 100vw; */

}


main {
    /* padding-top: 110px; */
}



/* caroussel */
.caroussel {
    /* position: relative; */
    /* width: 100vw;
    height: 100vh; */
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: row;

  
    /* justify-content: center;
    align-items: center; */
    /* position: relative; */
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 

    text-align: center;


    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    
  
}

.caroussel::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse 300% 50% at center 100%,rgb(0, 0, 0) 10%,transparent 90%,transparent); /* Dégradé noir */
    pointer-events: none; /* Assure que les clics passent à travers l'overlay */
    z-index: 1; /* Place l'overlay au-dessus de l'image */
}


.caroussel>div {
    min-width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

    scroll-snap-align: center;


}

.caroussel::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
#caroussel-text-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min-content;
    text-align: center;
    text-shadow: 2px 2px 40px rgba(0, 0, 0, 0.7);
    height: 0;
    transform: translateY(80vh);

    position: relative;  /* sinon par défaut c'est static et on ne peut pas modifier z-index */
    z-index: 2; /* pour que le texte soit au-dessus de l'overlay */
    

}

#caroussel-text-content h2 {
    font-size: 80px;
}

#caroussel-text-content p {
    font-size: 26px;
    font-family: 'Raleway';
    font-weight: 600;
    word-wrap: break-word;
    max-width: 100%;

    padding: 0 20px;


}

.stats {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px 120px 160px 120px;
}

.groupe {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.barre {
    width: 13px;
    height: 100%;
    background-color: var(--red-insaerospace);
}

.valeur {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    gap: 16px;
}

.valeur > p {
    padding-left: 40px;
    padding-right: 40px;
    color: #FFF;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
}

.nombre {
    font-size: 48px !important;
}


@media (max-width: 800px) {

    #caroussel-text-content h2 {
        font-size: 40px;
    }

    #caroussel-text-content p {
        font-size: 16px;
    }
}