/* FONTS */

/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Braah One */
@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');

/* Caveat */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');




/* Nasalization */
/* import local font */
@font-face {
    font-family: 'Nasalization';
    src: url('/static/fonts/nasalization-rg.otf') format('opentype');
}





/* STYLE VARIABLES */


* {
    --red-insaerospace: #CC0D0B;
    --red-insaerospace-hover: #A00A09;

    --transition-duration: 0.2s;




    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* empêcher Safari de redimensionner les textes comme bon lui semble */
    /* -webkit-text-size-adjust:none; */


}

body {
    background-color: #f2f2f2;
    color: #000;
    min-height: 120vh;
    /* overflow-x: hidden; */
    padding-top: 130px;
}

a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

}

/* pour les liens dans du texte */
a.text-link {
    color: var(--red-insaerospace);
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
}

a.text-link:hover {
    color: var(--red-insaerospace-hover);
}



p {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    /* line-height: 1.5; */
}

h1,
h2 {
    color: inherit;
    font-family: "Nasalization";
    /* font-size: 24px; */
    /* font-weight: 600; */
}

h1 {
    font-size: 36px;
    font-weight: 800;

    margin: 20px 0;
}

h2 {
    font-size: 24px;
    font-weight: 700;

    margin: 16px 0;
}

strong {
    font-weight: 700;
    color: var(--red-insaerospace);
}


.classic-page-margin {
    margin: 0 4vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* bouttons */

button,
a[type="button"] {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 700;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: var(--red-insaerospace);
    color: white !important;
    text-align: center;
    width: fit-content;

    align-self: center;

    transition: all var(--transition-duration) !important;
}

button:hover,
a[type="button"]:hover {
    background-color: var(--red-insaerospace-hover);
}






/* GLOBAL ELEMENTS */

main {
    min-height: calc(100vh - 80px);
}

header>*,
header>*>* {
    transition: all var(--transition-duration);

}

div.loaderBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;
    padding-bottom: 20px;
    height: 110px;
    /* background-color: #ffffff; */
    color: #000000;
    /* position: -webkit-sticky; */
    /* position: sticky; */
    top: 0;
    z-index: 1000;
    right: 0;
    left: 0;

    /* overflow-x: hidden; */

    font-family: "Raleway";

    /* transition: border-radius 0.5s, height 0.5s, background-color 0.5s, padding 0.5s; */
    transition: all var(--transition-duration);



    position: fixed;
    top: 0;
    left: 0;


}

/* pour le dégradé du header */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    /* left: 0; */
    width: 120vw;
    height: 100%;
    background-color: white;
    z-index: -1;
    align-self: center;
    transform: translate(-50%, 0);
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;

    transition: border-radius 0.5s, height 0.5s, background-color 0.5s;

}



#header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120px;
    z-index: -1;
}



nav>ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 4vw;
}

nav a {
    text-decoration: none;
    color: inherit;
    padding: 8px 16px;
    transition: color 0.3s;
}

nav a:hover,
nav a.opened {
    color: var(--red-insaerospace);
}





div#header-site-name {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

div#header-site-name>a {
    text-decoration: none;
    color: inherit;
    font-family: "Nasalization";
    font-size: 24px;
    font-weight: 600;
}

div#header-site-name>img {
    height: 60px;
}


/* logo */
span.logo-red-part {
    color: var(--red-insaerospace);
}

nav a {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
}


/* footer */
footer {
    background-color: var(--red-insaerospace);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;

}

footer .footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 100%;
    gap: 30px;
}


footer .footer-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

footer a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}


footer .footer-sponsors{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    
    gap: 20px;
    flex: 1;
    min-width: min(90vw, 400px);
    margin: 20px 0;

    >a {
        flex:1;
        >img {
            width: 100%;
            height: auto;
            max-width: 200px;
        }
    }
}

.insaerospace {
    color: #FFF;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.40);
    font-family: Nasalization;
    font-size: 24px;
    font-weight: 400;
}

.line {
    width: 8%;
    height: 4px;
    background-color: #FFF;
    margin-bottom: 20px;
}

footer .footer-data>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

footer .footer-data>div>a {
    color: white;
    text-decoration: none;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
}



.insash {
    margin: auto;
    text-align: center;
}





/* computer */
@media (min-width: 800px) {
    .mobile-only {
        display: none !important;
    }
}




/* mobile */

@media (max-width: 800px) {
    .computer-only {
        display: none;
    }

    header {
        padding: 6px 10px;
        height: 80px;
    }

    header::before {
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;


    }


    /* menu de navigation mobile */
    header>nav {
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;

        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        margin: 20px 12px;
        padding: 12px;
        border-radius: 12px;

        /* opacity: 0; */
        /* make it not a probleme for the mouse */
        pointer-events: none;
        /* user-select: none; */
        display: none;


    }

    header>nav * {
        user-select: none;
    }

    header>nav>ul {
        flex-direction: column;
        gap: 8px;

    }

    header>div#hamburger-button {
        font-size: 24px;
        padding: 8px 16px;
        cursor: pointer;
    }

    header>nav.open {
        display: block;
        animation: openMobileMenu var(--transition-duration);
        animation-fill-mode: forwards;
        opacity: 1;
        pointer-events: all;
        user-select: all;

    }


    header>nav.closed {
        display: block;
        animation: closeMobileMenu var(--transition-duration);
        animation-fill-mode: forwards;
        user-select: none;
        pointer-events: none;
        transform: translateY(-40%) scale(1.05);



    }

    /* animation close/open the mobile menu (go up/down) */

    @keyframes openMobileMenu {
        from {
            transform: translateY(-20%) scale(1.05);

        }

        to {
            transform: translateY(0) scale(1);
        }
    }


    @keyframes closeMobileMenu {
        0% {
            transform: translateY(0);
        }

        to {
            transform: translateY(-20%) scale(1.05);
            opacity: 0;
            /* make it not a probleme for the mouse */
            pointer-events: none;
            user-select: none;

        }
    }

    footer .footer-flex {
        flex-direction: column;
    }

    footer .footer-data{
        width: 100%;
    }
    footer .footer-sponsors{
    align-items: center;
    
}

.insash {
    margin-top: 20px;
}

}