

div.membres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    

    img {
        border: none;
        box-shadow: none;
    }
}


#contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}