{% extends "main/base.html" %}
{% load static %}

{% block title %}Accueil{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'main/accueil.css' %}">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>    
<script src="{% static 'main/scripts/jquery.rollNumber.js' %}"></script>
{% endblock %}

{% block content %}
<link rel="preload" as="image" href="{% static 'images/photos_accueil/minifusee_champ.webp' %}" />

<section>
    <div id="caroussel-text-content">
        <h2><span class="logo-red-part">INSA</span>erospace</h2>
        <p>Association d'étudiants ingénieurs passionnés d'aérospatiale de l'INSA Hauts-de-France</p>
    </div>
    <div class="caroussel" onload="addAutoScroll();">

        <div class="caroussel-image"
            style="background-image: url('{% static 'images/photos_accueil/equipe2023.webp' %}');">
        </div>
        <div class="caroussel-image"
            style="background-image: url('{% static 'images/photos_accueil/lancement-micro-1.webp' %}');">
        </div>
        <div class="caroussel-image"
        style="background-image: url('{% static 'images/photos_accueil/micro-pull-insa.webp' %}');">
    </div>

        <div class="caroussel-image"
            style="background-image: url('{% static 'images/photos_accueil/minifusee_champ.webp' %}');"></div>
        <div class="caroussel-image" style="background-image: url('{% static 'images/photos_accueil/soudure.webp' %}');">
        </div>        <div class="caroussel-image"
            style="background-image: url('{% static 'images/photos_accueil/seance-1.webp' %}');">
        </div>
    </div>
   
    <div class="stats">
        <div class="groupe">
            <div class="barre"></div>
            <div class="valeur">
                <p class="nombre" data-number="35"></p>
                <p>Membres actifs</p>
            </div>
        </div>
        <div class="groupe">
            <div class="barre"></div>
            <div class="valeur">
                <p class="nombre" data-number="27"></p>
                <p>Micro-fusées/an</p>
            </div>
        </div>
        <div class="groupe">
            <div class="barre"></div>
            <div class="valeur">
                <p class="nombre" data-number="03"></p>
                <p>Années d'experiences</p>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'main/scripts/accueil.js' %}"></script>
{% endblock %}
