{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | INSAEROSPACE</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main/base.css' %}">
    </head>

    <body>
        <header>
            <h1>INSAEROSPACE</h1>
            <nav>
                <ul>
                    <li><a href="#">Nos Projets</a></li>
                    <li><a href="#">La team</a></li>
                    <li><a href="#">Nous contacter</a></li>
                </ul>
            </nav>
        </header>

        {% block content %}
        {% endblock %}
        

    </body>

</html>