{% extends "main/base.html" %}
{% load static %}

{% block title %}Nos membres{% endblock %}


{% block extrahead %}
<!-- SEO -->
<meta name="description" content="Contactez-nous pour en savoir plus sur nos projets et notre équipe.">
<meta name="keywords" content="INSAerospace, contact, association, étudiants, fusée, aérospatiale, INSA, Hauts-de-France">
<link rel="canonical" href="https://insaerospace.com/contact">
<!-- Open Graph -->
<meta property="og:title" content="Contact - INSAerospace">
<meta property="og:description" content="Contactez-nous pour en savoir plus sur nos projets et notre équipe.">
<meta property="og:image" content="{% static 'images/sharing/og-image.png' %}">
<meta property="og:url" content="https://insaerospace.com/contact">
<meta property="og:type" content="website">
<meta property="og:site_name" content="INSAerospace">
<meta property="og:locale" content="fr_FR">



<link rel="stylesheet" href="{% static 'main/article.css' %}">
<link rel="stylesheet" href="{% static 'main/contact-page.css' %}">
<link rel="stylesheet" href="{% static 'main/membres.css' %}">


{% endblock %}

{% block content %}
<div class="classic-page-margin">
    <h1 class="page-title">Contact</h1>

    <div id="contactContainer">
        <!-- loading icon from fontawesome -->

    </div>
    <div id="mandatoryContainer">
        <h2>Nos réseaux !</h2>
        <div class="flex socials">
            <a href="https://instagram.com/insaerospace" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <!-- <a href="http://facebook.com/insaerospace" target="_blank"><i class="fa-brands fa-facebook"></i></a> -->
            <a href="https://www.linkedin.com/company/insaerospace" target="_blank"><i
                    class="fa-brands fa-linkedin"></i></a>
            <!-- <a href="http://youtube.com/insaerospace" target="_blank"><i class="fa-brands fa-youtube"></i></a> -->
        </div>
        <div class="article-body">
            <h2>Hébergement et nom de domaine</h2>
            <p>Le site <a href="https://insaerospace.com">insaerospace.com</a> est hébergé sur <a
                    href="https://hebergos.insash.org" targer="_blank">HebergOS - Le serveur associatif de ./insa.sh</a>
                via Hetzner.</p>
            <p>Le nom de domaine est enregistré chez le registar Squarespace.</p>
            <h2>Remerciements</h2>
            <p>Ce site a été développé bénévolement avec ❤️ par <a href="https://insash.org" target="_blank">./insa.sh -
                    Le Club Info de l'INSA Hauts-de-France</a> !</p>
            <h2>Développement & Design</h2>


        </div>
        <!-- faire deux box pour les deux développeurs avec liens vers leurs réseaux, nom prenom, site perso... -->
        <div class="membres">
            <div class="membre">
                <div class="photo-de-profil">
                    <img src="{% static 'images/local/dev_pictures/dev1.png' %}" alt="Maël Advisse">
                    <div class="emoji-box">
                        <img class="emoji1" src="{% static 'images/local/emoji/clavier.png' %}">
                        <img class="emoji2" src="{% static 'images/local/emoji/souris.png' %}">
                        <img class="emoji3" src="{% static 'images/local/emoji/ordinateur.png' %}">
                        <img class="emoji4" src="{% static 'images/local/emoji/programmeur.png' %}">
                        <img class="emoji5" src="{% static 'images/local/emoji/palette.png' %}">
                    </div>
                </div>
                <h3>Maël Advisse</h3>
                <p class="role">Développeur</p>
                <div class="reseaux">
                    <a href="https://github.com/maeladv" target="_blank">
                        <i class="fa-brands fa-github reseau-icon"></i>
                    </a>
                    <a href="https://instagram.com/mael_adv" target="_blank">
                        <i class="fa-brands fa-instagram reseau-icon"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/mael-advisse-13b360292/" target="_blank">
                        <i class="fa-brands fa-linkedin reseau-icon"></i>
                    </a>
                </div>
            </div>
            <div class="membre">
                <div class="photo-de-profil">
                    <img src="{% static 'images/local/dev_pictures/dev2.png' %}" alt="Louison Bednarowicz">
                    <div class="emoji-box">
                        <img class="emoji1" src="{% static 'images/local/emoji/clavier.png' %}">
                        <img class="emoji2" src="{% static 'images/local/emoji/souris.png' %}">
                        <img class="emoji3" src="{% static 'images/local/emoji/ordinateur.png' %}">
                        <img class="emoji4" src="{% static 'images/local/emoji/programmeur.png' %}">
                        <img class="emoji5" src="{% static 'images/local/emoji/palette.png' %}">
                    </div>
                </div>
                <h3>Louison Bednarowicz</h3>
                <p class="role">Développeur</p>
                <div class="reseaux">
                    <a href="https://github.com/billyTheSecond" target="_blank">
                        <i class="fa-brands fa-github reseau-icon"></i>
                    </a>
                    <a href="https://linkedin.com/in/louisonbednarowicz" target="_blank">
                        <i class="fa-brands fa-linkedin reseau-icon"></i>
                    </a>
                    <a href="https://webdev.knowitbetter.fr" target="_blank">
                        <i class="fa-solid fa-globe reseau-icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="module" src="{% static 'main/scripts/page.js' %}"></script>


{% endblock %}