{% extends "main/base.html" %}
{% load static %}

{% block title %}Nos Projets{% endblock %}


{% block extrahead %}
<link rel="stylesheet" href="{% static 'main/article.css' %}">
{% endblock %}


{% block content %}
<div class="classic-page-margin">
    <h1  class="page-title">Nos projets</h1>
</div>
<div id="projectsContainer">
    <!-- loading icon from fontawesome -->
    <i class="fas fa-spinner fa-spin fa-3x" style="font-size:24px; color:black;"></i>


</div>
<script type="module" src="{% static 'main/scripts/projets.js' %}"></script>

{% endblock %}
