{% extends "main/base.html" %}
{% load static %}

{% block title %}Nos membres{% endblock %}


{% block extrahead %}
<link rel="stylesheet" href="{% static 'main/membres.css' %}">
{% endblock %}

{% block content %}
<div class="classic-page-margin">
    <script>
        const static_default_pp_url = "{% static 'images/default_pp.webp' %}";
    </script>
    <h1 class="page-title">Notre équipe</h1>

    <div id="membresContainer">
    <!-- loading icon from fontawesome -->
    <div class="loaderBox">
        <i class="fas fa-spinner fa-spin fa-3x" style="font-size:24px; color:black;"></i>
     </div>
    </div>
    <script type="module" src="{% static 'main/scripts/membres.js' %}"></script>

</div>

{% endblock %}