{% extends "main/base.html" %}
{% load static %}

{% block title %}Nos membres{% endblock %}


{% block extrahead %}
<!-- SEO -->
<meta name="description" content="Découvrez notre équipe talentueuse et passionnée.">
<meta name="keywords" content="INSAerospace, membres, équipe, étudiants, fusée, aérospatiale, INSA, Hauts-de-France">
<link rel="canonical" href="https://insaerospace.com/nos-membres">
<!-- Open Graph -->
<meta property="og:title" content="Nos membres - INSAerospace">
<meta property="og:description" content="Découvrez notre équipe talentueuse et passionnée de l'association INSAerospace.">
<meta property="og:image" content="{% static 'images/sharing/og-image.png' %}">
<meta property="og:url" content="https://insaerospace.com/nos-membres">
<meta property="og:type" content="website">
<meta property="og:site_name" content="INSAerospace">
<meta property="og:locale" content="fr_FR">
<link rel="stylesheet" href="{% static 'main/membres.css' %}">
{% endblock %}

{% block content %}
<div class="classic-page-margin">
    <script>
        const static_default_pp_url = "{% static 'images/default_pp.webp' %}";
    </script>
    <h1 class="page-title">Notre équipe</h1>

    <div id="membresContainer">
    <!-- loading icon from fontawesome -->
    <div class="loaderBox">
        <i class="fas fa-spinner fa-spin fa-3x" style="font-size:24px; color:black;"></i>
     </div>
    </div>
    <script type="module" src="{% static 'main/scripts/membres.js' %}"></script>

</div>

{% endblock %}