{% extends "main/base.html" %}
{% load static %}

{% block title %}Test{% endblock %}


{% block extrahead %}

{% endblock %}

{% block content %}
 <h1>Test</h1>
 <script>
async function fetchProjects() {
    try {
        // Modifier l'URL de la requête pour inclure un paramètre de requête pour les projets 

        // Récupérer les projets (vides et non-vides sans distinction)
        const response = await fetch('/api/fetch_projets');
        const data = await response.json();
        const projets = data;
        console.log('réponse:', projets);

    } catch (error) {
        console.error('Error fetching projets:', error);
    }
}

fetchProjects();



 </script>
{% endblock %}
